
div.tabbarContainer {
  position: fixed;
  max-height: 58px;
  right: 0;
  left: 0;
  margin-bottom: 2em;
  /* border: 2px solid red; */
  background-color: #438d63;
  display: flex;
  z-index: 123456;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0em;
  color: black;
  margin-bottom: 4em;
}

/* 
.home-back-btn{
  border: 1px solid blue;
  size: 30px;
  padding-left: 15px;
} */

/* div.tabbar .home-back-btn {
  padding: 0em .5em;
  color: black;
} */

/* div.tabbar .home-back-btn:hover {
  cursor: pointer;
  color: white;
} */