
div.tabbarContainer {
  position: fixed;
  right: 0;
  left: 0;
  margin-bottom: 2em;
}

div.tabbarContainer .tabbar {
  background-color: #438d63;
  /* background-color: red; */
  display: flex;
  z-index: 123456;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0em;
  color: black;
  margin-bottom: 4em;
}

div.tabbar .iconHover {
  padding: 0em .5em;
  color: black;
}

div.tabbar .iconHover:hover {
  cursor: pointer;
  color: white;
}