#content{
    margin: 10px;
}

#header{
    display: flex;
}

#backIcon{
    width: 24px;
    height: 24px;
    padding-top: 15px;
}

ion-title{
    text-align: center;
    width: 90%;

}

#posts{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}


#date{
    color: #348D63;
    padding-top: 20px;
    padding-left: 10px;
}

#right{
    color: rgba(0, 0, 0, 0.5);
}
