#notesMainContainer{
    background-color: #f1f1f1;
    overflow-y: scroll;
    /* background-color: yellow; */
}

#notesMainContainer #header {
    /* background-color: red; */
}

#notesMainContainer #notesContainer {
    /* background-color: yellow; */
    font-size: 1em;
}

#notesContainer .noteCards{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

#notesContainer .noteTitle {
    padding-left: 10px;
    color: #348D63;
}

#notesContainer .noteTitle:hover {
    cursor: pointer;
    color: #87e4b9;
}

#notesContainer .noteDate {
    padding-top: 20px;
}



a{
    text-decoration: none;
}

#notesContainer #searchNotes {
    /* background-color: red; */
    color: black;
}




/*  */ 
#notesContainer #addNotesbtn {
    /* background-color: red; */
    background-color: #127647;
    color: white;
    padding: .3em 1em;
    border-radius: .6em;
    position: fixed;
    bottom: 1em;
    font-weight: bolder;
    right: .5em;
	box-shadow: 0em 0em .2em lightgray;
    /* left: 0; */
}

#notesContainer #addNotesbtn:hover,
#notesContainer #addNotesbtn:focus {
	background-color: #348D63;
}

#notesContainer .addNoteIcon {
    color:white;
		font-size: 1.4em;
		font-weight: bolder;
    font-weight: bolder;
    /* background-color: white; */
}