#notesMainContainer{
    background-color: #f1f1f1;
    overflow-y: scroll;
    /* background-color: yellow; */
}

#notesMainContainer #header {
    /* background-color: red; */
}

#notesMainContainer #notesContainer {
    /* background-color: yellow; */
    font-size: 1em;
}

#notesContainer .noteCards{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(250, 250, 250);
}

#notesContainer .noteTitle {
    padding-left: 10px;
    color: #348D63;
}

#notesContainer .noteTitle:hover {
    cursor: pointer;
    color: #87e4b9;
}

#notesContainer .noteDate {
    padding-top: 20px;
}

#addNote {
    background-color: #fff;
    right: 20px;
    bottom: 10px;
    width: 24px;
    height: 24px;
    padding: 5px;
    margin-left: 95%;
    border: 1px solid rgba(0, 0, 0, 0.185);
    position: fixed;
    margin-top: 80%;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.87);
}

a{
    text-decoration: none;
}

#notesContainer #searchNotes {
    /* background-color: red; */
    color: white;
}