
div.devoPic {
    width: 100%;
   
}

.devoPic img {
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.massage {
    width: 100%;
}

.sermon {
    width: 30%;
    padding: 5px;
    margin: 5px;
    float: left;
    text-align: center;
}

.sermon img {
    width: 100%;
    border-radius: 20px;
    height: 70px;
    
}