/* variables */

/* * {
    background-color: #fff;
    color: #000;
    
} */



/* main discussion container */


/* searchbar */
.searchbar {
    border-radius: 50px;
    border: none;
}


/* category container */
.categoryItems {   
    height: 24px;
    size: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.categoryIcons{
    width: 24px;
    height: 24px;
    padding-top: 8px;
    margin-right: 10px;
    margin-left: 10px; 
    color: #348D63;
}

.alignItems{
    display: flex;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.336);
    border-width: 80%;
    /* background-color: red; */
  
}

.alignItems:hover{
    color: #348D63;
    cursor: pointer;
}


/* posts container */
.posts {
    padding: 20px;
    overflow: hidden;
}

.postImg {
    margin-right: 20px;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 6px 8px -1px rgba(0,0,0,0.2);
    vertical-align: top;
}

.posts h3{
    margin: 0px;
    
}

.date{
    color: rgba(0, 0, 0, 0.623);
}

.content{
    clear: left;
    margin:50px 0px 20px 0px;
    font-size: 15px;
}

#numOfReplies{
    color: rgba(0, 0, 0, 0.623);
}

#postBtns{
    display: flex;
    justify-content: space-between;
}

#postBtns p{
    font-size: 12px;
}

#postBtns p:hover{
    color: #348D63;
    cursor: pointer;
    text-shadow: 3px 6px 8px 0px rgba(0,0,0,0.2);
}

button {
    /* margin-left: 75%; */
    padding: 10px;
    background-color: #348D63;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 6px 8px -1px rgba(0,0,0,0.2);
    cursor: pointer;
}

button:hover {
    background-color: #348d63af;
}

/* add discussion */
.popUp {
    margin: auto;
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
}

.popUpContent {
    margin: auto;

    position: absolute;
}


#addPostBtn {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 6px 8px -1px rgba(0,0,0,0.2);
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 650px;
    cursor: pointer;
}

#addPostBtn:hover {
    background-color: #348D63;

}

hr {
    color: rgba(0, 0, 0, 0.1);
    line-height: 0.2px;
}

/* Comments */

.replies {
    padding-top: 5px;
    width: 100%;
}
.commentContent{
    margin: 30px 10px 10px 10px;
}

#addComment{
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
}

.commentForm {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 90%;
    height: fit-content;
    border: 1px solid black;
    box-shadow: 3px 6px 8px -1px rgba(0,0,0,0.2);
   

}

#categoryInpt{
    width: 80%;
    margin: 10px 20px;
    border: none;
    background-color: #fefefe;
}

#addDiscussion{
    width: 80%;
    height: 100px;
    margin: 10px 20px;
}

#postComment{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 8px;
    width: 80px;
}