

#mainHeading {
    text-align: center;
    font-weight: bold;
}

#tabs {
    text-align: center;
    margin-bottom: -10px;
    font-size: 1em;
    padding: -2px;
    
}

.tabBtn {
    font-size: x-small;
    color: black;
}

.tabInfoDiv {
    width: 95%;
    min-height: 450px;
    margin: auto;
    padding: 15px 10px 0px 10px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: white;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#subscribePage {
    background: linear-gradient(180deg, #A3D7BF 0%, #348D63 100%);
    
}

