Link,
a {
  text-decoration: none;
  color: black;
}

.headerSubTab {
  display: flex;
  justify-content:left;
}

#mainHeading {
  /* text-align: center; */
  margin-top: 40px;
  margin-left: 0px;
  font-weight: bold;
}

#tabs {
  text-align: center;
  margin-bottom: -10px;
  font-size: 1em;
  padding: -2px;
}

.tabBtn {
  font-size: x-small;
  color: black;
}

.tabInfoDiv {
  width: 95%;
  min-height: 80vh;
  margin: auto;
  padding: 15px 10px 0px 10px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 160px;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

#subscribePage {
  background: linear-gradient(180deg, #a3d7bf 0%, #348d63 100%);
}

#addPostBtn {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 6px 8px -1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  right: 30px;
  bottom: 10%;
  cursor: pointer;
  background-color: rgb(25, 177, 223);
  color: white;
}
.videoUrl {
  position: relative;
}
.playCircle {
  left: 40%;
  top: 30%;
  position: absolute;
  color: red;
  border: 2px solid transparent;
}
svg.loadingVid {
  left: 40%;
  top: 30%;
  position: absolute;
  color: red;
  animation: rotate linear infinite 0.81s;
  -webkit-animation: rotate linear infinite 0.81s;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
