ion-toolbar {
  --background: #348d60;
  color: white;
}
ion-button {
  --background: white;
  text-transform: unset;
}

#backButton {
  color: red;
  position: absolute;
  --background: transparent;
  --border: none;
}
#inputs {
  color: white;
  height: 90vh;
  padding: 10px 15px;
}
.inputField {
  padding: 5px;
  color: #000;
  margin: 1.2% 5%;
  border-radius: 10px;
  width: 90%;
  background-color: white;
  height: 40px;
}
label {
  text-shadow: 0 0 5px gray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}
input[type="submit"] {
  padding: 5px;
  border-radius: 10px;
  color: black;
  width: 60%;
  margin: 5% 20% 2% 20%;
  border: 2px solid #348d60;
  background: none;
}
.haveAcc {
  text-align: center;
  width: 100%;
}
.haveAcc a {
  color: #348d60;
}
