#leaderProfile {
  text-align: center;
}

#leaderProfile .nameCard {
  /* background-color: red; */
  padding: 0em 0em .5em 0em;
}

#leaderProfile #profileImg {
  background-color: red;
  width: 8em;
  height: 8em;
  border-radius: 50%;
}