.heading {
    width: 100%;
   display: flex;
   justify-content: space-between;
}

.heading button {
    background: azure;
    box-shadow: none;
    color: black;
    border: none;
}

.heading button:hover {
    background-color: cadetblue;
}

.profile {
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

.profile img {
    width: 30%;
    height: 90px;
    border-radius: 50px;
}

.textare {
    height: 500px;
}

.media {
    display: flex;
    justify-content: space-between;
}

.addMedia {
    display: flex;
    justify-content: space-evenly;
}