
p { margin: 0em; }

a {
    text-decoration: none;
    color: white;
}

/* ion-page { --ion-background-color: #ffffff; } */

.aboutFellowship {
    background-color: #438d63;
    font-size: 1em;
}

.aboutFellowship .topbar {
    background-color: #438d63;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.aboutFellowship .view { color: white; }

/* 
.tabbar ion-tab-button {
    width: 2em;
    padding: 0em;
} */

/* holds the the images of a fellowship  */
.aboutFellowship .imagesA {
    background-color: yellow;
    /* padding: 1em; */
    margin-top: 3em;
}