
.close {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.close button {
    background: none;
    border: none;
    color: black;
}

.selectedTitle {
    text-align: center;
    margin: 0px;
    background-color: rgb(70, 191, 123);
}

.playNote {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(70, 191, 123);
    margin-bottom: 5px;

}

.playNote button {
    width: 100%;
    background-color: rgb(70, 191, 123);
    border: none;
    border-radius: 10px 10px 0px 0px;
    color: black;
}

.playNote button:nth-child(1) {
    background-color: white;
}

.video {
    width: 100%;
    height: 35%;
    background-color: red;
}

.video video {
    width: 100%;
    height: 100%;
    background-color: white;
}

.notes textarea{
    width: 100%;
    background-color: white;
    height: 150px;
    border: none;
}

.notes ion-button {
    width: 99%;
    
}