* {
    --ion-background-color: #348d63;
    /* --ion-color: black; */
}

.fellowshipPhotos {
    background-color: #438d63;
    font-size: 1em;
}

.fellowshipPhotos .topbar {
    background-color: #438d63;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.fellowshipPhotos .navigator {
    display: flex;
    justify-content: space-around;
    background-color: #127647;
    /* background-color: inherit; */
    box-shadow: 0em 0em .1em white;
    margin: 1em 0em;
    color: white;
}

.fellowshipPhotos .navigator button {
    border: 0em;
    padding: .8em 1em;
    /* background-color: #348d63; */
    background-color: inherit;
    color: white;
}

.fellowshipPhotos .images {
    /* background-color: red; */
    font-size: 1em;
}

.fellowshipPhotos .images div:first-child {
    /* background-color: yellow; */
    padding: .5em;
}

.fellowshipPhotos .images .moreImages {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
    justify-content: space-between;
}