.searchFellowship {
    background-color: inherit;
    border: 1px solid rgb(236, 236, 236);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12.8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchFellowship .info {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: .1em 0em;
}

.searchFellowship p {
    margin: 0em;
}

.searchFellowship .fellowshipName {
    /* background-color: blue; */
    padding: .1em 0em;
}

.searchFellowship .subInfo {
    text-transform: capitalize;
    /* background-color: red; */
    margin: 0em;
    font-size: .75em;
}

.searchFellowship .viewInfo {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .searchFellowship .viewInfo ion-tab-button {
    background-color:#b6f6ff;
    /* border: 1px solid red;
    max-height: 40px;
    max-width: 100px;
    padding-left: 20 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
} */


#viewinfo-btn {
    background-color:#b6f6ff;
    /* border: 1px solid red; */
    max-height: 40px;
    max-width: 100px;
    padding-left: 20 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}


.searchFellowship .viewInfo ion-tab-button:hover {
    color: white;
}

.searchFellowship .viewInfo ion-tab-button ion-label {
    font-size: 1.1em;
}

/* .view-btn{
    border: 1px solid #348d63;
    background-color: #348d63;
    color: white;
    margin-top: 35px;
    padding: 5px 15px;
    border-radius: 8px;
} */