.MapCardResultFellowship{
    padding: 16px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchFellowship .info {
    display: flex;
    flex-direction: column;
    padding: .1em 0em;
}

.searchFellowship p {
    margin: 0em;
}

.searchFellowship .fellowshipName {
    /* background-color: blue; */
    text-transform: capitalize;
    padding: .1em 0em;
}

.subInfo {
    text-transform: capitalize;
    margin: 0em;
}

.searchFellowship .viewInfo {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#viewinfo-btn {
    --background:#b6f6ff;
    /* border: 1px solid red; */
    max-height: 40px;
    max-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}


.searchFellowship .viewInfo ion-tab-button:hover {
    color: white;
}

.searchFellowship .viewInfo ion-tab-button ion-label {
    font-size: 1.1em;
}
