.over-photos {
  display: flex;
  flex: 6;
  background-color: #438d63;
  /* border: 1px solid black; */
  margin: 60px 3.2px 0px 0px;
  max-height: 255px;
  justify-content: space-between;
  border-radius: 2em 2em 0em 0em;

}

#right-imgs {
  flex: 6;
  /* border: 1px solid lightblue; */
  max-width: 50%;
  max-height: 255px;
  display: flex;
  flex-direction: column;
}

/* left img */
.img1 {
  border-radius: 2em 0em 0em 0em;
  max-width: 50%;
  max-height: 100%;
  flex: 6;
}

/* top-right img */
.img2{
  width: 100%;
  max-height: 49.5%; 
  border-radius: 0em 2em 0em 0em;
  margin: 0px 0px 0.5px 2px;
}

/* bottom-right img */
.img3{
  width: 100%;
  max-height: 49.5%; 
  margin: 1.5px 0px 0px 2px;
}