
div.photos {
  display: flex;
  background-color: #438d63;
  justify-content: space-between;
  /* margin-top: 2em; */
}

div .photos>p {
  flex: 6;
  /* background-color: yellow; */
  margin: 0em .2em 0em 0em;
  border-radius: 1em 0em 0em 0em;
}

div.photos div {
  flex: 6;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0em 0em 0em .2em;
}

div.photos div>p:first-child {
  background-color: lightgray;
  height: 5em;
  border-radius: 0em 1em 0em 0em;
  margin: 0em 0em .1em 0em;
}

div.photos div .moreImage {
  /* background-color: yellow; */
  margin: .1em 0em 0em 0em;
}

.img1 {
  border-radius: 1em 0em 0em 0em;
  width: 100%;
  height: 100%;
}

.img2{
  width: 100%;
  height: 100%;
  border-radius: 0em 1em 0em 0em;
}
.img3{
  width: 100%;
  height: 5em;
}