

/* This file contains all the css for userProfile and all subfolders */

#profile_items {
  /* background-color: red; */
  font-size: 1em;

}

#profile_items div {
  font-size: 1em;

}

#profile_items a:hover,
#profile_items a:focus {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}


a.item {
  box-shadow: 0px 1px 0px 1px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  background: white;
  padding: 15px 10px;
  margin: 5px 5px;
  border-radius: 5px;
}
.icon {
  font-size: 1.5em;
  padding: 0 10px;
}



#userProfile #details {
  text-align: center;
  /* background-color: yellow; */
  padding: 0em 0em .5em 0em;
}

#userProfile #details .editButton {
  font-size: 2em;
}

#userProfile #details .editButton:hover {
  font-size: 1em;
  color: #348D63;
}


#userProfile #infos {
  background-color: red;
}


#userProfile div.profile {
  position: relative;
  top: -10%;
  /* left: 35%; */
  text-align: center;
  margin: auto;
  width: 6.5em;
  height: 6em;
  background-size: cover;
  /* border: 2px solid; */
  border-radius: 100%;
  box-shadow: 0px 2px 7px 2px rgb(0 0 0 / 14%);
}

#userProfile div.profile img {
  position: relative;
  text-align: center;
  background-color: white;
  /* padding: .5em 0em 0em 0em; */
  /* font-size: .8em; */
  margin: auto;
  width: 6.5em;
  height: 6em;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0px 2px 7px 2px rgb(0 0 0 / 14%);
}

#userProfile #profileContent {
  /* background-color: yellow; */
  font-size: 1em;
  padding: 0em 0em 6em 0em;
}



.nameCard {
  background-color: white;
  overflow: visible;
  position: relative;
  padding: 10px;
 }
 ion-card-subtitle{
   text-transform: lowercase;
 }
 ::-webkit-scrollbar{
   width: 0px;
   background: transparent;
 }
 
 .avatar {
   text-align: center;
   width: 120px;
   margin: auto;
   position: relative;
   bottom: 40px;
   height: 120px;
   box-shadow: 1px 0px 3px;
 }
 
 .avatar img {
   width: 100%;
 }
 
 
 ion-title{
   width:100%;
   text-align: center;
 }















 /* CROWN */
 svg#crown {
   color: yellow !important;
   margin: 0em 0em .5em 0em;
 }