/* ion-page id */
#overviewFS{
    background-color: #348D63;
}

.overview{
    --background: linear-gradient(#348d60 65%, #80b89c, #b3d5c4);
    /* border: 2px solid red; */
}



/* 
#overviewFS .overview .imagesO {
    background-color: red;
    margin-top: 3em;
    padding: 2em 0em;
    background-color: yellow;
} */

/* .tab{
    margin-left: 100px;
}
.tab1{
    margin-right: 100px;
}

.icon1{
    color : yellow;
    font-size: .9em;
}

.icon{
    color :rgb(33, 65, 33);
    margin-right: 5px;   
}
 
.pages{
    background: #348D63;
}
 
.text{
    margin-left: 20px;
} */



/* OVERVIEW Pg */

#overviewFS ion-tab-bar.tabbar ion-tab-button ion-icon {
    color: black;
    font-weight: bold;
    padding: 0px;
}

/* NAME + AVG REVIEWS CONTAINER ABOVE NAVIGATION */
.nameFs {
    background-color: #348D63;
    /* border: 2px solid blue; */
	padding: 8px 0px 8px 25px;
}

/* name of fellowship container*/
#fsName {
	color: black;
	text-transform: capitalize;
    /* border: 1px solid black; */
}

/* stars + avg reviews p tag */
.nameFs p {
    /* background-color: blue; */
    font-size: 12px;
    padding-top: 4.8px;  
}

.nameFs p i {
    color: white;
    font-style: normal;
}

/* #overviewFS ion-content .nameFs ion-title {
    background-color: purple;
    color: white;
    font-size: .99em;
} */



/* THE NAVIGATION PART TO MOVE ABOUT AND SEE DETAILS OF A FELLOWSHIP */
#navigatorFs {
    display: flex;
    justify-content: space-evenly;
    background-color: #127647;
    color: white;
    /* border: 5px solid pink; */
}
  
#overviewFS #navigatorFs a {
border: 0em;
font-size: .9em;
padding: .8em .1em;
/* background-color: #348d63; */
background-color: #127647;
/* background-color: red; */
color: white;
}
#overviewFS #navigatorFs a:hover { cursor: pointer; }

#overviewFS #navigatorFs .navFsBtn {
	display: flex;
	flex-direction: column;
	padding: .6em 0em;
}   

#overviewFS #navigatorFs span.navFsBtn:hover,
#overviewFS #navigatorFs span.navFsBtn:focus {
	background-color: white;
	color: #127647;
	cursor: pointer;
}



/* ICON BUTTONS UNDER NAVIGATION TAB  */
.FsButtons {
    /* background-color: #348D63; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 16px;
}


.FsButtons ion-icon{
    background-color: #064320;
    border-radius: 50%;
    padding: 8px;
    color: white;
    box-shadow: 0px 0px 1.6px white;
}

.FsButtons ion-icon:hover {
    cursor: pointer;
}



/* CONTAINER BELOW ICON BUTTONS */
.locaWebTime {
    border-top: .8px solid #20704b;
}


.locaWebTime .time div {
    position: absolute;
    right: 1em;
    display: flex;
    vertical-align: middle;
}

.selector {
    padding-left: 0em;
    border: 1px solid black;
    background-color: red;
}


.locaWebTime .time div small {
    display: flex;
    vertical-align: middle;
    /* padding: 1em 0em; */
}



/* Malebo REVIEW CSS */

.reviewContent .nameFs p {
    /* background-color: red; */
    font-size: .8em;
    padding: .3em 0em 0em 1.6em;
}

.reviewContent .nameFs p i {
    color: white;
    font-style: normal;
}

i {
    font-style: normal;
}

#review .reviewContent .imagesR {
    margin-top: 3em;
    /* padding: 5em 0em; */
    /* background-color: yellow; */
    border: 1px solid black;
}

/* review form container */
.rev-item {
    /* border: 1px solid orangered; */
    margin: 2px 15px 30px 15px;
    padding: 10px;
    border: 1px solid #20704b;
    border-radius: 8px;
    background-color: #fff;
}

#fellow-rev {
    margin: 20px;
}


.reviewBtn{
    background-color: #20704b;
    padding: 5px 12px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.star-rating{
    margin-top: 25px;
    margin-left: 15px;
}

.add-review{
    /* border: 1px solid orange; */
    margin-top: 10px;
    padding-left: -10px;
    max-width: 350px;
    width: 100%;
}

.reviewTextArea{
    background-color: white;
    margin: 15px 0px;
    max-width: 98%;
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
}


/* sort-by buttons area */
.sortBy{
    border: 1px solid #20704b ;
    margin: 10px 0px;
    max-width: 410px;
    width: 100%;
    padding: 10px;
}

.sort-btn:hover{
    background-color: #71cca2;
}

.sort-btn{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #20704b;
    border-radius: 5px;
    padding: 2px 10px;
}

/* .review{
    border: 1px solid black;
    background: #fff;
    padding: 50px;
    margin-bottom: 20px;
} */



/* PHOTOS OF A FELLOWSHIP */
#fsImages {
	/* background-color: red; */
	margin: .5em 0em 1em 0em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#fsImages img:hover,
#fsImages img:focus {
	box-shadow: 0em 0em .5em grey;
	/* width: 44.5%; */
}

@media screen and ( max-width: 576px ) {
	#fsImages img {
		width: 44%;
		margin: .5em .1em;
		cursor: pointer;
	}
}


/* REVIEWS SECTION'S CSS */
#reviewsFs #reviews {
	/* background-color: red; */
	margin: 0em 0em 2em 0em;
	padding: .5em;
}

#reviewsFs #reviews .review {
	background-color: #fafcfb;
    /* border: 1px solid #20704b; */
	margin: 8px 0px;
	padding: 18px;
}

#reviewsFs #reviews .review:hover,
#reviewsFs #reviews .review:focus {
	cursor: pointer;
	box-shadow: 0em 0em .3em gray;

}

#reviewsFs #reviews .review img.revPic {
	/* background-color: blue; */
	border-radius: 50%;
	height: 4em;
	width: 4em;
	box-shadow: 0em 0em .2em gray;
	margin: 0em .5em 0em 0em;
}

#reviewsFs #reviews .review div.infos {
	/* background-color: blue; */
	margin: .5em 0em;
	padding: .3em 0em;
}

#reviewsFs #reviews .review div.infos span {
	/* background-color: red; */
	font-size: .8em;
	font-weight: bolder;
}

#reviewsFs #reviews .review div.infos p {
	/* background-color: red; */
	padding: .5em 0em 0em 0em;
}