@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: "Poppins",sans-serif;
}



/* 
I, HBK, COMMENTED OUT THIS CODE BECAUSE IT CLASHED WITH OTHER PEOPLE'S PAGE.
KINDLY USE A CLASS NAME OR ID TO SELECT THE ION-CONTENT ELEMENT YOU WANNA STYLE.
THANK YOU
*/
/* ion-content{
    --background: linear-gradient(#348d60 70%, #80b89c, #b3d5c4);
} */

/* make input of type submit to have a pointer for hover. */
input[type="submit"]:hover, button:hover {
    cursor: pointer;
}