@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: "Poppins",sans-serif;
}
ion-content{
    --background: white;
}

/* make input of type submit to have a pointer for hover. */
input[type="submit"]:hover, button:hover {
    cursor: pointer;
}