#editUserAccount .bgColor{
  background-color:#348D63;
  padding-top: 40px;
  border-radius: 0em 0em 1em 1em;
}

#editUserAccount .editProfileImg {
  /* background-color: yellow; */
  text-align: center;
}

#editUserAccount .editProfileImg img {
  width: 95%;
  border-radius: 1em 1em 0em 0em;
  margin: 1em auto .1em auto;
  text-align: center;
  font-size: .6em;
  color: red;
  font-weight: bold;
}

#editUserAccount .editProfileImg img:hover {
  cursor: pointer;
}

#editUser_editButtons {
  /* background-color: red; */
  display: flex;
  padding: .5em 0em;
  justify-content: space-evenly;
}

#editUser_editButtons .editbutton {
  background-color: green;
}

#editUserAccount #nameTitle {
  /* background-color: red; */
  text-transform: capitalize;
}

#editUserAccount #inputFields {
  padding: 1em 0em;
}

#editUserAccount #inputFields div {
  background-color: white;
  padding: .2em 0em;
  margin: .5em .2em;
  box-shadow: 0em 0em .1em lightgray;
}


#editUserAccount #inputFields .edituserField .field {
  /* background-color: yellow; */
  color: black;
  padding: .2em 0em;

}

#editUserAccount #inputFields .edituserBtn {
  text-align: center;
}

#editUserAccount #inputFields .edituserBtn .editbutton {
  background-color: green;
  text-align: center;
}